/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .mfa-wrapper, .auth-wrapper, .twofa-wrapper {
    padding: 50px;
    max-width: 1360px;
    margin: 0 auto;
 }

 form button{
   margin-top: 15px;
   padding: 5px;
   background-color: transparent;
   border: solid 1px #000000; 
   font-size: 1em;
   opacity: 1;
   cursor: pointer;
   transition: all .4s;
 }
 form button:hover{
   opacity: 0.8;
 }

 
.twofa-content, .mfa-content{
  width: 100%;
}
.twofa-message, .mfa-message{
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  width: 100%;
}
.twofa-message__nomatch, .mfa-message__nomatch {
  padding: 15px 20px;
  background-color: #ff6060;
}

.dev-notice{
  width: 100%;
  background-color: #acff7b;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.dev-notice h4, .dev-notice p{
  padding-bottom: 5px;
}